.Rproj.user
.Rhistory
.RData
.Ruserdata

# topo files
topo*.nc

# all netCDF files
*.nc

# all .rda files
*.rda

# any supplementaryData
analysis/*/supplementaryData
# any supplementaryFigures
analysis/*/supplementaryFigures
# any checkData
analysis/*/checkData

